@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
}

.centroModal, .abajoModal{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 3px #ccc;
}

.centroModal{
    top: 30%;
    left: 50%;
}

.abajoModal{
    bottom: 20%;
    left: 50%;
}